:root {
  --body-bg-color: #eee;
  --nav-bg-color: #fff;
  --content-bg-color: #fff;
  --text-color: #222;
  --header-divider-color: #eee;
  --svg-color: #1f2328;
  --color-scheme-icon-color: #ffa500;
  color-scheme: light;
}
.bg-img {
  background: url("../images/body-bg-light.jpg") center no-repeat fixed;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen {
  html,
  body {
    height: 100%;
  }
}
body {
  zoom: 1;
  background-size: cover;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.touch-none {
  touch-action: none /* 禁用浏览器默认的触摸行为 */;
}
.bg-color {
  background-color: var(--body-bg-color);
}
#container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wrapper {
  zoom: 1;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
@media screen and (min-width: 769px) {
  .wrapper {
    max-width: 80%;
  }
}
@media screen {
  .wrapper {
    margin: 0 auto;
  }
}
.inner,
#article-toc-inner {
  zoom: 1;
}
.inner:before,
#article-toc-inner:before,
.inner:after,
#article-toc-inner:after {
  content: "";
  display: table;
}
.inner:after,
#article-toc-inner:after {
  clear: both;
}
@media screen {
  .inner,
  #article-toc-inner {
    padding: 0 20px;
  }
}
.hidden {
  display: none;
}
.loading {
  background: url("../images/loading.svg") center no-repeat fixed;
}
a {
  color: #428bca;
  text-decoration: none;
}
svg {
  color: var(--svg-color);
}
h1 {
  font-size: 2em;
  font-weight: bold;
}
p {
  line-height: 1.5;
}
.rotate-10-0 {
  -webkit-transform: translate3d(0px, 0px, -500px);
  -moz-transform: translate3d(0px, 0px, -500px);
  -o-transform: translate3d(0px, 0px, -500px);
  -ms-transform: translate3d(0px, 0px, -500px);
  transform: translate3d(0px, 0px, -500px);
  background-position: -400px 0px;
}
.rotate-10-1 {
  -webkit-transform: translate3d(293.893px, 0px, -404.509px) rotateY(-36deg);
  -moz-transform: translate3d(293.893px, 0px, -404.509px) rotateY(-36deg);
  -o-transform: translate3d(293.893px, 0px, -404.509px) rotateY(-36deg);
  -ms-transform: translate3d(293.893px, 0px, -404.509px) rotateY(-36deg);
  transform: translate3d(293.893px, 0px, -404.509px) rotateY(-36deg);
  background-position: -350px 0px;
}
.rotate-10-2 {
  -webkit-transform: translate3d(475.528px, 0px, -154.508px) rotateY(-72deg);
  -moz-transform: translate3d(475.528px, 0px, -154.508px) rotateY(-72deg);
  -o-transform: translate3d(475.528px, 0px, -154.508px) rotateY(-72deg);
  -ms-transform: translate3d(475.528px, 0px, -154.508px) rotateY(-72deg);
  transform: translate3d(475.528px, 0px, -154.508px) rotateY(-72deg);
  background-position: -300px 0px;
}
.rotate-10-3 {
  -webkit-transform: translate3d(475.528px, 0px, 154.508px) rotateY(-108deg);
  -moz-transform: translate3d(475.528px, 0px, 154.508px) rotateY(-108deg);
  -o-transform: translate3d(475.528px, 0px, 154.508px) rotateY(-108deg);
  -ms-transform: translate3d(475.528px, 0px, 154.508px) rotateY(-108deg);
  transform: translate3d(475.528px, 0px, 154.508px) rotateY(-108deg);
  background-position: -250px 0px;
}
.rotate-10-4 {
  -webkit-transform: translate3d(293.893px, 0px, 404.509px) rotateY(-144deg);
  -moz-transform: translate3d(293.893px, 0px, 404.509px) rotateY(-144deg);
  -o-transform: translate3d(293.893px, 0px, 404.509px) rotateY(-144deg);
  -ms-transform: translate3d(293.893px, 0px, 404.509px) rotateY(-144deg);
  transform: translate3d(293.893px, 0px, 404.509px) rotateY(-144deg);
  background-position: -200px 0px;
}
.rotate-10-5 {
  -webkit-transform: translate3d(0px, 0px, 500px) rotateY(-180deg);
  -moz-transform: translate3d(0px, 0px, 500px) rotateY(-180deg);
  -o-transform: translate3d(0px, 0px, 500px) rotateY(-180deg);
  -ms-transform: translate3d(0px, 0px, 500px) rotateY(-180deg);
  transform: translate3d(0px, 0px, 500px) rotateY(-180deg);
  background-position: -150px 0px;
}
.rotate-10-6 {
  -webkit-transform: translate3d(-293.893px, 0px, 404.509px) rotateY(-216deg);
  -moz-transform: translate3d(-293.893px, 0px, 404.509px) rotateY(-216deg);
  -o-transform: translate3d(-293.893px, 0px, 404.509px) rotateY(-216deg);
  -ms-transform: translate3d(-293.893px, 0px, 404.509px) rotateY(-216deg);
  transform: translate3d(-293.893px, 0px, 404.509px) rotateY(-216deg);
  background-position: -100px 0px;
}
.rotate-10-7 {
  -webkit-transform: translate3d(-475.528px, 0px, 154.508px) rotateY(-252deg);
  -moz-transform: translate3d(-475.528px, 0px, 154.508px) rotateY(-252deg);
  -o-transform: translate3d(-475.528px, 0px, 154.508px) rotateY(-252deg);
  -ms-transform: translate3d(-475.528px, 0px, 154.508px) rotateY(-252deg);
  transform: translate3d(-475.528px, 0px, 154.508px) rotateY(-252deg);
  background-position: -50px 0px;
}
.rotate-10-8 {
  -webkit-transform: translate3d(-475.528px, 0px, -154.508px) rotateY(-288deg);
  -moz-transform: translate3d(-475.528px, 0px, -154.508px) rotateY(-288deg);
  -o-transform: translate3d(-475.528px, 0px, -154.508px) rotateY(-288deg);
  -ms-transform: translate3d(-475.528px, 0px, -154.508px) rotateY(-288deg);
  transform: translate3d(-475.528px, 0px, -154.508px) rotateY(-288deg);
  background-position: 0px 0px;
}
.rotate-10-9 {
  -webkit-transform: translate3d(-293.893px, 0px, -404.509px) rotateY(-324deg);
  -moz-transform: translate3d(-293.893px, 0px, -404.509px) rotateY(-324deg);
  -o-transform: translate3d(-293.893px, 0px, -404.509px) rotateY(-324deg);
  -ms-transform: translate3d(-293.893px, 0px, -404.509px) rotateY(-324deg);
  transform: translate3d(-293.893px, 0px, -404.509px) rotateY(-324deg);
  background-position: 50px 0px;
}
.btn {
  display: inline-block;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25) !important;
  background-image: none !important;
  border: 5px solid #fff;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all ease 0.15s;
  -webkit-transition: all ease 0.15s;
  -moz-transition: all ease 0.15s;
  -o-transition: all ease 0.15s;
  -ms-transition: all ease 0.15s;
  transition: all ease 0.15s;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  position: relative;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
}
.btn-default {
  background-color: #6fb3e0 !important;
  border-color: #6fb3e0;
}
.btn-default:hover {
  background-color: #4f99c6 !important;
  border-color: #6fb3e0;
}
.btn-primary {
  background-color: #428bca !important;
  border-color: #428bca;
}
.btn-primary:hover {
  background-color: #1b6aaa !important;
  border-color: #428bca;
}
#gritter-notice-wrapper {
  position: fixed;
  top: 70px;
  right: 20px;
  width: auto;
  z-index: 9999;
}
#gritter-notice-wrapper.top-left {
  left: 20px;
  right: auto;
}
#gritter-notice-wrapper.bottom-right {
  top: auto;
  left: auto;
  bottom: 20px;
  right: 20px;
}
#gritter-notice-wrapper.bottom-left {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}
.gritter-item-wrapper {
  position: relative;
  margin: 0 0 10px 0;
  background-image: none !important;
  -webkit-box-shadow: 0 2px 10px rgba(50,50,50,0.5);
  box-shadow: 0 2px 10px rgba(50,50,50,0.5);
  background: rgba(50,50,50,0.92);
}
.gritter-top {
  height: 10px;
}
.hover .gritter-top {
  background-position: right -30px;
}
.gritter-bottom {
  height: 8px;
  margin: 0;
}
.hover .gritter-bottom {
  background-position: bottom right;
}
.gritter-item {
  display: block;
  color: #eee;
  padding: 2px 11px 2px 11px;
  font-size: 11px;
  font-family: verdana;
}
.hover .gritter-item {
  background-position: right -40px;
}
.gritter-item p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
.gritter-close {
  display: none;
  position: absolute;
  top: 5px;
  left: 3px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.gritter-title {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 0 7px 0;
  display: block;
  text-shadow: 1px 1px 0 #000;
}
.gritter-link {
  position: relative;
  height: auto;
  color: #000;
  font-weight: bold;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  display: inline-block;
}
.gritter-link:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #1094e8;
}
.gritter-image {
  width: 48px;
  height: 48px;
  float: left;
}
.gritter-with-image,
.gritter-without-image {
  padding: 0;
  margin-left: 5px;
  margin-right: 20px;
}
.gritter-with-image {
  width: auto;
  min-width: 150px;
  max-width: 200px;
  float: right;
}
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  color: #222;
}
.gritter-light .gritter-title {
  text-shadow: none;
}
.gritter-item-wrapper.gritter-info {
  background: rgba(49,81,133,0.92);
}
.gritter-item-wrapper.gritter-error {
  background: rgba(153,40,18,0.92);
}
.gritter-item-wrapper.gritter-success {
  background: rgba(89,131,75,0.92);
}
.gritter-item-wrapper.gritter-warning {
  background: rgba(190,112,31,0.92);
}
.gritter-item-wrapper.gritter-light {
  background: rgba(245,245,245,0.95);
  border: 1px solid #bbb;
}
.gritter-item-wrapper.gritter-light.gritter-info {
  background: rgba(232,242,255,0.95);
}
.gritter-item-wrapper.gritter-light.gritter-info .gritter-item {
  color: #4a577d;
}
.gritter-item-wrapper.gritter-light.gritter-error {
  background: rgba(255,235,235,0.95);
}
.gritter-item-wrapper.gritter-light.gritter-error .gritter-item {
  color: #894a38;
}
.gritter-item-wrapper.gritter-light.gritter-success {
  background: rgba(239,250,227,0.95);
}
.gritter-item-wrapper.gritter-light.gritter-success .gritter-item {
  color: #416131;
}
.gritter-item-wrapper.gritter-light.gritter-warning {
  background: rgba(252,248,227,0.95);
}
.gritter-item-wrapper.gritter-light.gritter-warning .gritter-item {
  color: #946446;
}
.gritter-item p {
  line-height: 1.8;
}
.gritter-close {
  left: auto;
  right: 3px;
  background-image: none;
  width: 18px;
  height: 18px;
  line-height: 17px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 16px;
  color: #e17b67;
}
.gritter-close:before {
  font-family: FontAwesome;
  font-size: 16px;
  content: "\f00d";
}
.gritter-close:hover {
  color: #fff !important;
}
.gritter-info .gritter-close {
  color: #ffa500;
}
.gritter-error .gritter-close,
.gritter-success .gritter-close,
.gritter-warning .gritter-close {
  color: #ffea07;
}
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  background-image: none;
  color: #444;
}
.gritter-light .gritter-title {
  text-shadow: none;
}
.gritter-light .gritter-close:hover {
  color: #8a3104 !important;
}
.gritter-center {
  position: fixed;
  left: 33%;
  right: 33%;
  top: 33%;
}
@media only screen and (max-width: 767px) {
  .gritter-center {
    left: 16%;
    right: 16%;
    top: 30%;
  }
}
@media only screen and (max-width: 480px) {
  .gritter-center {
    left: 30px;
    right: 30px;
  }
}
@media only screen and (max-width: 320px) {
  .gritter-center {
    left: 10px;
    right: 10px;
  }
}
.back-to-top {
  font-size: 12px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  bottom: -100px;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 26px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: bottom;
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  -ms-transition-property: bottom;
  transition-property: bottom;
  background: #000;
  cursor: pointer;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  position: fixed;
  z-index: 30;
  right: 30px;
}
.back-to-top span {
  margin: 0 2px 0 6px;
  display: none;
}
.back-to-top:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  color: #fc6423;
}
.back-to-top.back-to-top-on {
  bottom: 30px;
}
@media screen and (max-width: 768px) {
  .back-to-top {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    right: 20px;
  }
}
pre,
code {
  font-family: font-mono;
  background: #f7e6e6;
  font-size: 0.95em;
}
code {
  padding: 1px 5px;
  color: #950f0f;
}
pre {
  padding: 10px 15px;
  line-height: 22px;
  color: var(--text-color);
}
pre code {
  border: none;
  display: block;
  padding: 0;
}
.highlight {
  background: var(--body-bg-color);
  padding: 10px 15px;
  color: #950f0f;
  overflow: auto;
  margin: 0;
}
.highlight table {
  margin: 0 !important;
  border: 0;
}
.highlight table th,
.highlight table td {
  padding: 0;
}
.highlight figcaption {
  zoom: 1;
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: "";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
}
.highlight pre {
  padding: 0;
  border: none;
  background: none;
}
.highlight .line {
  height: 22px;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
pre .marked {
  background: #283542;
  color: rgba(255,255,255,0.8);
}
pre .deletion {
  background: #ffeef0;
  color: #b31d28;
}
pre .addition {
  background: #f0fff4;
  color: #22863a;
}
#header {
  width: 100%;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative;
  padding: 0;
  background-color: var(--nav-bg-color);
}
@media print {
  #header {
    display: none;
  }
}
#header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.1px;
  background-color: var(--header-divider-color);
}
.header-wrapper {
  zoom: 1;
}
.header-wrapper:before,
.header-wrapper:after {
  content: "";
  display: table;
}
.header-wrapper:after {
  clear: both;
}
@media screen {
  .header-wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
}
#header-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #header-inner {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
#header-inner:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1px;
  background-color: var(--header-divider-color);
}
#logo-wrap {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 60px;
  -ms-flex: 0 60px;
  flex: 0 60px;
}
@media screen and (min-width: 769px) {
  #logo-wrap {
    margin-left: 100px;
  }
}
#logo {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background: url("/images/diversity.svg");
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  display: block;
}
#main-nav {
  display: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  padding-left: 25px;
  padding-right: 205px;
  text-align: left;
}
@media screen and (min-width: 769px) {
  #main-nav {
    display: block;
  }
}
.main-nav-li {
  display: inline-block;
  line-height: 60px;
  padding: 0 25px;
  margin: 0;
}
.main-nav-li a {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.main-nav-link {
  position: relative;
  height: auto;
  color: var(--text-color);
  text-decoration: none;
  line-height: 60px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
}
.main-nav-link:hover,
.active .main-nav-link {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #1094e8;
}
.main-nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #1094e8;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.main-nav-link:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#color-scheme-toggle {
  width: 60px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  margin-right: 20px;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
#color-scheme-toggle:hover {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
@media screen and (max-width: 768px) {
  #color-scheme-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
  }
}
.color-scheme-icon {
  font-size: 1.5rem;
  color: var(--color-scheme-icon-color);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.fa-sun,
.fa-sun-o {
  display: block;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
.fa-moon,
.fa-moon-o {
  display: none;
  -webkit-transform: scale(0.5) rotate(-90deg);
  -moz-transform: scale(0.5) rotate(-90deg);
  -o-transform: scale(0.5) rotate(-90deg);
  -ms-transform: scale(0.5) rotate(-90deg);
  transform: scale(0.5) rotate(-90deg);
}
.dark-theme .fa-sun,
.dark-theme .fa-sun-o {
  display: none;
  -webkit-transform: scale(0.5) rotate(90deg);
  -moz-transform: scale(0.5) rotate(90deg);
  -o-transform: scale(0.5) rotate(90deg);
  -ms-transform: scale(0.5) rotate(90deg);
  transform: scale(0.5) rotate(90deg);
}
.dark-theme .fa-moon,
.dark-theme .fa-moon-o {
  display: block;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
.theme-wrap,
.ring,
.img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.theme-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 500px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.theme-inner {
  position: absolute;
  pointer-events: auto;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
  width: 300px;
  height: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.card-container {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}
.card .card-back {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
@media screen and (min-width: 769px) {
  .card:hover .card-front {
    -webkit-animation: flip 0.5s forwards;
    -moz-animation: flip 0.5s forwards;
    -o-animation: flip 0.5s forwards;
    -ms-animation: flip 0.5s forwards;
    animation: flip 0.5s forwards;
  }
  .card:hover .card-back {
    -webkit-animation: flip 0.5s reverse forwards;
    -moz-animation: flip 0.5s reverse forwards;
    -o-animation: flip 0.5s reverse forwards;
    -ms-animation: flip 0.5s reverse forwards;
    animation: flip 0.5s reverse forwards;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@media screen and (max-width: 768px) {
  .card.active .card-front {
    -webkit-animation: flip 0.5s forwards;
    -moz-animation: flip 0.5s forwards;
    -o-animation: flip 0.5s forwards;
    -ms-animation: flip 0.5s forwards;
    animation: flip 0.5s forwards;
  }
  .card.active .card-back {
    -webkit-animation: flip 0.5s reverse forwards;
    -moz-animation: flip 0.5s reverse forwards;
    -o-animation: flip 0.5s reverse forwards;
    -ms-animation: flip 0.5s reverse forwards;
    animation: flip 0.5s reverse forwards;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.top {
  position: absolute;
  top: 50px;
}
.bottom {
  position: absolute;
  bottom: 25px;
}
.middle {
  margin: 0 25px 0 25px;
}
.text {
  font-size: 18px;
  color: #428bca;
}
.arrow-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  pointer-events: auto;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  padding: 0 2px;
}
@media screen and (min-width: 769px) {
  .arrow-wrap {
    display: none;
  }
}
.left-arrow {
  margin-right: auto;
}
.left-arrow:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -o-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.right-arrow {
  margin-left: auto;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.right-arrow:active {
  -webkit-transform: rotate(180deg) translateY(-2px);
  -moz-transform: rotate(180deg) translateY(-2px);
  -o-transform: rotate(180deg) translateY(-2px);
  -ms-transform: rotate(180deg) translateY(-2px);
  transform: rotate(180deg) translateY(-2px);
}
.left-arrow,
.right-arrow {
  background-image: url("/images/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  width: 50px;
  height: 50px;
}
#theme-footer {
  color: rgba(255,255,255,0.7);
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: absolute;
  text-align: center;
  bottom: 10px;
}
#theme-footer a {
  color: #bbb;
  text-decoration: none;
}
#theme-footer a:hover {
  color: #707070;
}
#theme-footer p {
  margin: 15px 0;
}
@-moz-keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-o-keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
.content-wrap {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  margin: 0;
  padding: 0;
  border: none;
}
#content {
  zoom: 1;
  position: relative;
}
#content:before,
#content:after {
  content: "";
  display: table;
}
#content:after {
  clear: both;
}
#content-inner {
  zoom: 1;
}
#content-inner:before,
#content-inner:after {
  content: "";
  display: table;
}
#content-inner:after {
  clear: both;
}
@media screen and (min-width: 769px) {
  #content-inner {
    margin-left: 220px;
  }
}
@media screen and (min-width: 769px) {
  .article-container {
    float: right;
    width: 100%;
  }
}
.article-inner {
  zoom: 1;
  -webkit-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.09);
  box-shadow: 0 3px 8px 6px rgba(7,17,27,0.09);
  background-color: var(--content-bg-color);
  border-radius: 8px;
  margin: 10px 0;
}
.article-inner:before,
.article-inner:after {
  content: "";
  display: table;
}
.article-inner:after {
  clear: both;
}
@media screen and (max-width: 768px) {
  .article-inner {
    margin: 10px 5px;
  }
}
@media screen and (min-width: 769px) {
  .article-inner {
    margin-right: 220px;
  }
}
.article {
  float: left;
  width: 100%;
  padding: 40px 0;
}
@media print {
  .article {
    padding: 0;
  }
}
#article-toc {
  display: none;
  float: right;
  width: 220px;
  margin-right: -220px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  position: sticky;
  top: 0;
}
@media screen and (min-width: 769px) {
  #article-toc {
    display: block;
  }
}
#article-toc-inner {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  max-height: calc(100vh - 80px);
  width: 220px;
  -webkit-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.09);
  box-shadow: 0 3px 8px 6px rgba(7,17,27,0.09);
  background-color: var(--content-bg-color);
  padding-bottom: 40px;
  margin: 0 5px 40px 15px;
  border-radius: 8px;
}
.article-toc-title {
  margin-top: 40px;
  padding: 10px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #0e83cd;
  display: inline-block;
  border-top: 1px solid color-border;
  line-height: 1;
}
.toc-link {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  display: block;
  color: var(--text-color);
  text-decoration: none;
  padding: 7px 5px 5px 7px;
  line-height: 1;
  position: relative;
  width: 100%;
}
.toc-link.current {
  color: #0e83cd;
}
.toc-link:hover {
  color: #1094e8;
}
.toc-child {
  padding-left: 1em;
  font-size: 0.9em;
}
#article-toc-top {
  margin-top: 2em;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}
#article-toc-top:hover {
  color: #1094e8;
}
.article-header {
  zoom: 1;
  padding-bottom: 20px;
}
.article-header:before,
.article-header:after {
  content: "";
  display: table;
}
.article-header:after {
  clear: both;
}
.article-title {
  float: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 36px;
  font-weight: 300;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.2s;
}
a.article-title:hover {
  color: #1094e8;
}
.post .article-title {
  float: none;
}
.article-anchor {
  margin-left: 10px;
  display: none;
}
.article-anchor:before {
  content: "#";
}
@media print {
  .article-anchor {
    display: none !important;
  }
}
.article-heading:hover .article-anchor {
  display: inline-block;
}
.article-content {
  line-height: line-height;
  color: var(--text-color);
}
@media print {
  .article-content {
    font-size: 12pt;
  }
}
.article-content p,
.article-content ol,
.article-content ul,
.article-content dl,
.article-content table,
.article-content blockquote,
.article-content iframe,
.article-content .highlight {
  margin: 1em 0;
}
.article-content h1 {
  font-size: 2em;
}
.article-content h2 {
  font-size: 1.6em;
  border-bottom: 1px solid #999;
}
.article-content h3 {
  font-size: 1.4em;
  margin: 2em 0 0.5em 0;
}
.article-content h4,
.article-content h5,
.article-content h6 {
  margin: 1em 0;
}
.article-content h1,
.article-content h2 {
  margin: 2.2em 0 1em 0;
  line-height: 1.5em;
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  font-weight: bold;
}
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  line-height: 1em;
}
.article-content a {
  color: #0e83cd;
  text-decoration: none;
}
.article-content a:hover {
  color: #1094e8;
  text-decoration: underline;
}
@media print {
  .article-content a {
    color: var(--text-color);
    text-decoration: underline;
  }
  .article-content a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
}
.article-content a code {
  color: #0e83cd;
}
.article-content strong {
  font-weight: bold;
}
.article-content em {
  font-style: italic;
}
.article-content ul,
.article-content ol,
.article-content dl {
  margin-left: 20px;
}
.article-content ul ul,
.article-content ol ul,
.article-content dl ul,
.article-content ul ol,
.article-content ol ol,
.article-content dl ol,
.article-content ul dl,
.article-content ol dl,
.article-content dl dl {
  margin-top: 0;
  margin-bottom: 0;
}
.article-content ul {
  list-style: disc;
}
.article-content ol {
  list-style: decimal;
}
.article-content dl {
  list-style: square;
}
.article-content li p {
  margin: 0;
}
.article-content li table,
.article-content li blockquote,
.article-content li iframe,
.article-content li .highlight {
  margin: 1em 0;
}
.article-content img,
.article-content video {
  max-width: 100%;
}
.article-content blockquote {
  padding: 0 20px;
  position: relative;
  border: 1px solid #e3e3e3;
  border-left: 5px solid #ddd;
}
.article-content blockquote footer {
  margin: 1em 0;
  font-style: italic;
}
.article-content blockquote footer cite:before {
  content: "—";
  padding: 0 0.3em;
}
.article-content blockquote footer cite a {
  color: #999;
}
.article-content .note.tip {
  border-left-color: #fa0;
}
.article-content .note.info {
  border-left-color: #0af;
}
.article-content .note.warn {
  border-left-color: #f00;
}
.article-content .note-title {
  margin: 1em 0;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}
.article-content table {
  max-width: 100%;
  border: 1px solid #e3e3e3;
  display: block;
  overflow: auto;
}
.article-content table th {
  font-weight: bold;
}
.article-content table th,
.article-content table td {
  padding: 5px 15px;
}
.article-content table tr:nth-child(2n) {
  background: #eee;
}
.article-footer {
  zoom: 1;
  margin: 3em 0 2em 0;
  border-top: 1px solid #e3e3e3;
  text-align: center;
  color: var(--text-color);
  line-height: 1em;
  padding-top: 1em;
  position: relative;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
@media print {
  .article-footer {
    display: none;
  }
}
#mobile-nav {
  position: fixed;
  top: 0;
  width: 60%;
  left: -60%;
  height: 100%;
  background: color-navy;
  transition: 0.4s;
}
.mobile-nav-on #mobile-nav {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
#mobile-nav-inner {
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
}
#mobile-nav-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 25px;
  height: 20px;
  margin: auto;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  transition: 0.2s;
}
#mobile-nav-toggleactive,
.mobile-nav-on #mobile-nav-toggle {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@media screen and (min-width: 769px) {
  #mobile-nav-toggle {
    display: none;
  }
}
.mobile-nav-toggle-bar {
  background: var(--text-color);
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: 0.4s;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -o-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  border-radius: 2px;
}
.mobile-nav-toggle-bar:first-child {
  top: 0;
}
.mobile-nav-on .mobile-nav-toggle-bar:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-nav-toggle-bar:nth-child(2) {
  top: 9px;
}
.mobile-nav-on .mobile-nav-toggle-bar:nth-child(2) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.mobile-nav-toggle-bar:last-child {
  top: 18px;
}
.mobile-nav-on .mobile-nav-toggle-bar:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-nav-li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 15px 0;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mobile-nav-li a {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.mobile-nav-link {
  width: auto;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.active .mobile-nav-link {
  color: #1094e8;
}
#container {
  transition: 0.4s;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.mobile-nav-on #container {
  -webkit-transform: translateX(60%);
  -moz-transform: translateX(60%);
  -o-transform: translateX(60%);
  -ms-transform: translateX(60%);
  transform: translateX(60%);
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
}
#mobile-nav-dimmer {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transition: opacity 0.4s, transform 0s 0.4s;
}
.mobile-nav-on #mobile-nav-dimmer {
  width: 100%;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: opacity 0.4s;
}
